{% extends 'base.html' %} {% block title %}Edit {{user.first_name}}
{{user.last_name}}{% endblock %} {% block content %}
<h1>Edit {{user.first_name}} {{user.last_name}}</h1>
<div class="box">
  <form class="edit-form" method="POST">
    <label for="name"
      >First name:
      <input id="name" type="text" name="fname" value="{{user.first_name}}" />
    </label>
    <label for="lastname"
      >Lastname:
      <input
        id="lastname"
        type="text"
        name="lname"
        value="{{user.last_name}}"
      />
    </label>
    <label for="image"
      >Image URL:
      <input id="image" type="text" name="img_url" value="{{user.image_url}}" />
    </label>
    <button class="submit-btn" type="submit">Submit</button>
  </form>
</div>
{% endblock %}
