<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/app.css" />
  </head>
  <body>
    <main class="edited-post">
      <h1>Edit Post</h1>
      <form action="/posts/{{post.id}}/edit" method="POST">
        <label for="title"
          >Title:
          <input
            id="title"
            name="title"
            type="text"
            maxlength="100"
            value="{{post.title}}"
            required
          />
        </label>
        <label for="content"
          >Post Content:
          <textarea name="content" id="content" cols="30" rows="10">
{{post.content}}</textarea
          >
        </label>
        <a href="">Cancel</a>
        <button type="Submit">Edit</button>
      </form>
    </main>
  </body>
</html>
