<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/app.css" />
  </head>
  <body>
    <header class="user-profile">
      <img class="profile-pic" src="{{user.image_url}}" alt="User's picture" />

      <div class="btn-box">
        <h2>{{user.first_name}} {{user.last_name}}</h2>
        <div class="btn-container">
          <a href="/users/{{user.id}}/edit" class="edit-btn">Edit</a>
          <a href="/users/{{user.id}}/delete" class="del-btn">Delete</a>
        </div>
      </div>
      <div class="post-list">
        <h2>Posts</h2>
        <ul>
          {% for post in posts %}
          <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
          {% endfor %}
        </ul>

        <a class="form-btn" href="/users/{{user.id}}/posts/new">Add Post</a>
      </div>
    </header>
  </body>
</html>
